# Node
node_modules/
**/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
server.log

# Environment
.env

# OS/IDE files
.DS_Store
.vscode/

# Optional
coverage/

# Lockfiles (keep if you want to track lockfiles)
# package-lock.json
# yarn.lock
